*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: "Helvetica Neue",Helvetica,Arial;
}

.app{
  background-image: url(/src/images/app.jpg);
  background-size: cover;
  background-position: bottom;
  transition:0.4 ease;
}

.app-warm{
  background-image: url(/src/images/app-warm.jpg);
  background-size: cover;
  background-position: bottom;
  transition:0.4 ease;

}
.app-hot{
  background-image: url(/src/images/app-hot.jpg);
  background-size: cover;
  background-position: bottom;
  transition:0.4 ease;

}

.app-cold{
  background-image: url(/src/images/app-cold.jpg);
  background-size: cover;
  background-position: bottom;
  transition:0.4 ease;

}

main{
  min-height: 100vh;
  background-image:linear-gradient(to bottom,rgba(0,0,0,0.2),rgba(0,0,0,0.75));
  padding:25px;
  display:flex;
  flex-direction: column;
  margin :0;

}

.search-box{
  display: flex;
  justify-content:center;

}

.search-bar{
  padding:15px;
  width: 500px;
  height:50px;
  appearance:none;
  background:none;
  outline:none;
  background-color: rgba(255,255,255,0.51);
  border-radius: 16px;
  box-shadow: 0 2px  rgba(0,0,0,0.3);
  color:#082032;
  font-size: 16px;
  transition:0.3s ease;

}

.search-box  .search-bar:hover{
  background-color: rgba(255,255,255,0.85);
}

.location-box{
  padding-bottom: 80px ;
} 

.location{
  font-size: 32px;
  color:#FFF;
  font: weight 500px;;
  text-align: center;
  text-shadow:2px 2px rgba(35, 35, 43, 0.5);
  margin-top: 30px;
  
}

.date{
  font-size: 20px;
  color:#FFF;
  font-weight:300;
  text-align: center;
  font-style: italic;
  text-shadow:2px 2px rgba(35, 35, 43, 0.5);
}

.weather-box{
  text-align: center;
  display:flex;
  flex-direction: column;
}

.temp{
 background-color: rgba(255,255,255,0.2);
 border-radius:  16px;
 font-size:203px;
 text-shadow: 2px 2px rgba(35, 35, 43, 0.5);
 text-align: center;
 width: 500px;
 align-self: center;

}

.weather{
  padding-top:50px;
  color:#FFF;
  font-size:48px;
  font-weight:700px;
  text-shadow: 3px 3px rgba(35, 35, 43, 0.5);
}